@{
    ViewBag.Title = "Homepage";
}

<html>
    <head>
        <meta charset="utf-8"/>
        <title>Side Nav Bar</title>
        <link href="~/Content/Side Nav Bar.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
<body>
    <nav>
        <ul>
            <li>
                <a href="../Home/HomePage">
                    <i class="fas fa-home"></i>
                    <span class="nav-item">Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-tasks"></i>
                    <span class="nav-item">Primary Request</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='fas fa-book-open'></i>
                    <span class="nav-item">Purchase Request</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-book"></i>
                    <span class="nav-item">Catalog</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user-circle"></i>
                    <span class="nav-item">User Accounts</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
            </li>
        </ul>
    </nav>

</body>
</html>
